build/
build-*/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

.vs/
.vscode/
*.suo
*.user
*.VC.db
*.VC.opendb

*.obj
*.o
*.exe
*.dll
*.lib
*.pdb

Thumbs.db
Desktop.ini
